<ion-header>
  <ion-toolbar>
    <ion-title>Update Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item lines="full">
      <ion-label>Top Event</ion-label>
      <ion-toggle name="top" color="danger" [(ngModel)]="event.top"></ion-toggle>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Title</ion-label>
      <ion-input class="padding_left" name="title" placeholder="Event Title" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input class="padding_left" name="note" placeholder="Event Note" [(ngModel)]="event.note"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime name="startDate" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY" [(ngModel)]="event.startDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Event End</ion-label>
      <ion-toggle name="eventEnd" color="success" [(ngModel)]="event.eventEnd"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="event.eventEnd">
      <ion-label>End Date</ion-label>
      <ion-datetime name="endDate" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY"  [(ngModel)]="event.endDate">
      </ion-datetime>
    </ion-item>
  </form>

</ion-content>

