<ion-header>
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label slot="start" for="top">Top Event</ion-label>
      <ion-toggle slot="end" color="danger" id="top" [(ngModel)]="event.top"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label slot="start" for="title">Title</ion-label>
      <ion-input slot="end" class="text-right" placeholder="Event Title" id="title" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label slot="start" for="note">Note</ion-label>
      <ion-input slot="end" class="text-right" placeholder="Event Note" id="note" [(ngModel)]="event.note"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label slot="start" for="start">Start Date</ion-label>
      <ion-datetime slot="end" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY" id="start" [(ngModel)]="event.startDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label slot="start" for="finish">Event End</ion-label>
      <ion-toggle slot="end" color="success" id="finish" [(ngModel)]="event.eventEnd"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="event.eventEnd">
      <ion-label slot="start" for="end">End Date</ion-label>
      <ion-datetime slot="end" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY" id="end" [(ngModel)]="event.endDate">
      </ion-datetime>
    </ion-item>
  </ion-list> -->

  <form>
    <ion-item lines="full">
      <ion-label>Top Event</ion-label>
      <ion-toggle name="top" color="danger" [(ngModel)]="event.top"></ion-toggle>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Title</ion-label>
      <ion-input class="padding_left" name="title" placeholder="Event Title" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input class="padding_left" name="note" placeholder="Event Note" [(ngModel)]="event.note"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime name="startDate" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY" [(ngModel)]="event.startDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Event End</ion-label>
      <ion-toggle name="eventEnd" color="success" [(ngModel)]="event.eventEnd"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="event.eventEnd">
      <ion-label>End Date</ion-label>
      <ion-datetime name="endDate" display-format="YYYY/MM/DD" picker-format="MMMM DD YYYY"  [(ngModel)]="event.endDate">
      </ion-datetime>
    </ion-item>
  </form>

</ion-content>
