ion-header {
    text-align: center;
    ion-toolbar {
        --background: rgb(222, 226, 227, 0.5);
        color: floralwhite;
    }
}

ion-content {
    --background: rgba(85, 85, 85, 0.5);
    div {
        padding-top: 15%;
        ion-label {
            color: floralwhite;
        }
        .top_count {
            font-size: 3.5em;
            span {
                padding-left: -1rem;
                font-size: 1rem;
            }
        }
        .title {
            font-size: 1.5em;
        }
        .padding_bottom {
            padding-bottom: 1em;
            .note {
                // color: ;
                font-size: 0.5em;
            }
        }
        .date {
            font-size: 1em;
        }
    }
}